body {
    background-image: url(../images/dust_scratches.png);   
}

#navwrap {
    width: 100%;
    background: #ffffff;
    border-bottom: solid;
    border-color: #cccccc;
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
}

#navhead {
    background: #4aaaa5;
    float: left;
    margin-left: 285px;
    color: #ffffff;
    width: 240px;
    padding: 1px;
    text-align: center;
}

#navlinks {
    background: #ffffff;
    float: right;
    margin-top: 27px;
    margin-right: 280px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 15px;
}

#aboutcontent {
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 120px;
    overflow: auto;
    color: #777777;
}

#aboutmehead {
    border-bottom: solid;
    border-color: #dddddd;
    border-width: 3px;
    margin-left: 20px;
    margin-right: 15px;
}

#aboutme {
    color: #4aaaa5;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-size: 18px;
}

#bioimage {
    float: left;
    padding: 20px;
    margin-left: 5px;
}

#bio {
    line-height: 1.8;
    padding: 10px;
}

#footer {
    background: #666666;
    border-top: solid #4aaaa5;
    border-width: 8px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;    
}

#copyright {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    bottom: 0;

}
